<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>973040703089-qt4ng1g0tpki339qc6v7lbf01qjo0b1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973040703089-qt4ng1g0tpki339qc6v7lbf01qjo0b1t</string>
	<key>API_KEY</key>
	<string>AIzaSyCkt-m_I-pvNDjx5eWuakdpzFYC3eqxc0g</string>
	<key>GCM_SENDER_ID</key>
	<string>973040703089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xufagroup.blockbod</string>
	<key>PROJECT_ID</key>
	<string>blockbod-19cb2</string>
	<key>STORAGE_BUCKET</key>
	<string>blockbod-19cb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973040703089:ios:c3d754450c7894e4</string>
	<key>DATABASE_URL</key>
	<string>https://blockbod-19cb2.firebaseio.com</string>
</dict>
</plist>